div{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xlarge;
    color:lightseagreen}
#myID {
    color: sandybrown;
    font-family: verdana;
    font-size: 24px;
}
.myClass{
    color: rebeccapurple;
    font-family: arial;
    font-size: 50px;
}
image {
    background-image: 3h0lu5
}